body {
	background-color: #000;
	min-width: 900px;
	/*Turn off select*/
	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
 	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
}

pre {
	margin: auto;
	text-align: center;
	color: #fff;
}

#button {
	display: none;
	background-color:#fff;
	color:#000;
	border:1px solid #888;
}

#view {
	min-width: 900px;
	width: 100%;
	text-align: center;
	position: absolute;
	top:0px;
	z-index: 0;
}

#main {
	display: block;
	min-width: 900px;
	position: relative;
	z-index: 10;
}

#main span {
	background-color: #000;
}

a:hover{
	cursor: pointer;
}

#copyright {
	position: fixed;
    bottom: 0px;
    left: 10px;
    font-size: 10px;
}

#version {
	position: fixed;
	bottom: 0px;
	right: 10px;
	font-size: 10px;
}

.apple {
	letter-spacing: -0.15rem;
}

.screen {
	color: #000000;
	transition: color 0.5s ease;
}

#lid, .inside {
	visibility: hidden;
}
